In [1]:
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns
import pandas as pd

In [2]:
df=pd.read_csv('final_df.csv')

In [3]:
df

,Gender,Married,Dependents,Education,SelfEmployed,LoanAmountTerm,CreditHistory,PropertyArea,LoanStatus,LoanAmount_Log,Income_Log
0,Male,No,0,Graduate,No,360.0,1.0,Urban,1,4.852030,8.674026
1,Male,Yes,1,Graduate,No,360.0,1.0,Rural,0,4.852030,8.714568
2,Male,Yes,0,Graduate,Yes,360.0,1.0,Urban,1,4.189655,8.006368
3,Male,Yes,0,Not Graduate,No,360.0,1.0,Urban,1,4.787492,8.505323
4,Male,No,0,Graduate,No,360.0,1.0,Urban,1,4.948760,8.699515
...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,360.0,1.0,Rural,1,4.262680,7.972466
610,Male,Yes,3,Graduate,No,180.0,1.0,Rural,1,3.688879,8.320205
611,Male,Yes,1,Graduate,No,360.0,1.0,Urban,1,5.533389,9.025456
612,Male,Yes,2,Graduate,No,360.0,1.0,Urban,1,5.231109,8.933664
613,Female,No,0,Graduate,Yes,360.0,0.0,Semiurban,0,4.890349,8.430109

In [4]:
df.describe()

,Dependents,LoanAmountTerm,CreditHistory,LoanStatus,LoanAmount_Log,Income_Log
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,0.744300,342.410423,0.855049,0.687296,4.857250,8.669414
std,1.009623,64.428629,0.352339,0.463973,0.495996,0.545102
min,0.000000,12.000000,0.000000,0.000000,2.197225,7.273786
25%,0.000000,360.000000,1.000000,0.000000,4.607658,8.334712
50%,0.000000,360.000000,1.000000,1.000000,4.852030,8.597205
75%,1.000000,360.000000,1.000000,1.000000,5.104426,8.925549
max,3.000000,480.000000,1.000000,1.000000,6.551080,11.302204

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          614 non-null    object
 1   Married         614 non-null    object
 2   Dependents      614 non-null    int64
 3   Education       614 non-null    object
 4   SelfEmployed    614 non-null    object
 5   LoanAmountTerm  614 non-null    float64
 6   CreditHistory   614 non-null    float64
 7   PropertyArea    614 non-null    object
 8   LoanStatus      614 non-null    int64
 9   LoanAmount_Log  614 non-null    float64
 10  Income_Log      614 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 52.9+ KB

In [8]:
X=df.drop(columns='LoanStatus',axis=1)

In [9]:
Y=df['LoanStatus']

In [10]:
X=pd.get_dummies(X)

In [11]:
X

,Dependents,LoanAmountTerm,CreditHistory,LoanAmount_Log,Income_Log,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,SelfEmployed_No,SelfEmployed_Yes,PropertyArea_Rural,PropertyArea_Semiurban,PropertyArea_Urban
0,0,360.0,1.0,4.852030,8.674026,0,1,1,0,1,0,1,0,0,0,1
1,1,360.0,1.0,4.852030,8.714568,0,1,0,1,1,0,1,0,1,0,0
2,0,360.0,1.0,4.189655,8.006368,0,1,0,1,1,0,0,1,0,0,1
3,0,360.0,1.0,4.787492,8.505323,0,1,0,1,0,1,1,0,0,0,1
4,0,360.0,1.0,4.948760,8.699515,0,1,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,360.0,1.0,4.262680,7.972466,1,0,1,0,1,0,1,0,1,0,0
610,3,180.0,1.0,3.688879,8.320205,0,1,0,1,1,0,1,0,1,0,0
611,1,360.0,1.0,5.533389,9.025456,0,1,0,1,1,0,1,0,0,0,1
612,2,360.0,1.0,5.231109,8.933664,0,1,0,1,1,0,1,0,0,0,1
613,0,360.0,0.0,4.890349,8.430109,1,0,1,0,1,0,0,1,0,1,0

In [12]:
X

,Dependents,LoanAmountTerm,CreditHistory,LoanAmount_Log,Income_Log,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,SelfEmployed_No,SelfEmployed_Yes,PropertyArea_Rural,PropertyArea_Semiurban,PropertyArea_Urban
0,0,360.0,1.0,4.852030,8.674026,0,1,1,0,1,0,1,0,0,0,1
1,1,360.0,1.0,4.852030,8.714568,0,1,0,1,1,0,1,0,1,0,0
2,0,360.0,1.0,4.189655,8.006368,0,1,0,1,1,0,0,1,0,0,1
3,0,360.0,1.0,4.787492,8.505323,0,1,0,1,0,1,1,0,0,0,1
4,0,360.0,1.0,4.948760,8.699515,0,1,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,360.0,1.0,4.262680,7.972466,1,0,1,0,1,0,1,0,1,0,0
610,3,180.0,1.0,3.688879,8.320205,0,1,0,1,1,0,1,0,1,0,0
611,1,360.0,1.0,5.533389,9.025456,0,1,0,1,1,0,1,0,0,0,1
612,2,360.0,1.0,5.231109,8.933664,0,1,0,1,1,0,1,0,0,0,1
613,0,360.0,0.0,4.890349,8.430109,1,0,1,0,1,0,0,1,0,1,0

In [13]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Dependents              614 non-null    int64
 1   LoanAmountTerm          614 non-null    float64
 2   CreditHistory           614 non-null    float64
 3   LoanAmount_Log          614 non-null    float64
 4   Income_Log              614 non-null    float64
 5   Gender_Female           614 non-null    uint8
 6   Gender_Male             614 non-null    uint8
 7   Married_No              614 non-null    uint8
 8   Married_Yes             614 non-null    uint8
 9   Education_Graduate      614 non-null    uint8
 10  Education_Not Graduate  614 non-null    uint8
 11  SelfEmployed_No         614 non-null    uint8
 12  SelfEmployed_Yes        614 non-null    uint8
 13  PropertyArea_Rural      614 non-null    uint8
 14  PropertyArea_Semiurban  614 non-null    uint8
 15  PropertyArea_Urban      614 non-null    uint8
dtypes: float64(4), int64(1), uint8(11)
memory usage: 30.7 KB

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y)

In [17]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((460, 16), (154, 16), (460,), (154,))

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
model=LogisticRegression()

In [20]:
model.fit(X_train,Y_train)

/home/yashprime1/.local/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
model.score(X_train,Y_train)

0.8152173913043478

In [23]:
model.score(X_test,Y_test)

0.7987012987012987

In [25]:
Y_pred=model.predict(X_test)

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
confusion_matrix(Y_test,Y_pred)

array([[ 23,  27],
       [  4, 100]])

In [28]:
def print_score(actual,prediction):
    cm=confusion_matrix(actual,prediction)
    tp=cm[1,1]
    tn=cm[0,0]
    fp=cm[0,1]
    fn=cm[1,0]
    print("Overall Accuracy : ",(tp+tn)/(tp+tn+fp+fn))
    print("Precision : ",(tp)/(tp+fp))
    print("Recall or TPR or Sensitivity: ",(tp)/(tp+fn))
    print("Specificity or TNR: ",(tn)/(tn+fp))

In [29]:
print_score(Y_test,Y_pred)

Overall Accuracy :  0.7987012987012987
Precision :  0.7874015748031497
Recall or TPR or Sensitivity:  0.9615384615384616
Specificity or TNR:  0.46